/* # CUSTOM PROP */

:root {
  /* # PALETTE */

  --sidebar-bg-color: #000000;
  --player-bg-color: #282828;
  --body-bg-color: #141922;
  --text-primary-color: #ffffff;

  /* # LAYOUT */

  --sidebar-width: 70px;
  --topbar-height: 90px;
  --player-height: 80px;
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* # UTILS */

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

/* # SECTION-MAIN */

#content {
  flex-grow: 1;
}

/* # TOP */

#top {
  height: calc(100% - var(--player-height));
  display: flex;
}

/* # SECTION SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding: 0.7rem 0;
  background-color: var(--sidebar-bg-color);
  overflow: hidden;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  overflow-y: auto;
}

#sidebar .logo,
#sidebar .link li,
#sidebar .playlist-add,
#sidebar .playlist-list,
#sidebar .user {
  padding: 0 1rem;
}

#sidebar .link li.active {
  border-left: 3px solid lime;
}

#sidebar > .user {
  margin-top: auto;
}

#sidebar .link .icone {
  width: 40px;
}

#sidebar .link li {
  display: inline-block;
  width: 100%;
  line-height: 40px;
}

#sidebar .link a {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  align-items: center;
  margin-bottom: 0.2rem;
}

/* # SECTION SIDEBAR PLAYLIST-ADD  */

#sidebar .playlist-add .playlist-add-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

#sidebar .playlist-add .playlist-add-title {
  margin-bottom: 0.6rem;
}
/* # SECTION SIDEBAR PLAYLIST-LIST  */

#sidebar .playlist-list {
  overflow-y: auto;
  margin-right: 0.5rem;
  min-height: 100px;
}
/* # SECTION-MAIN-USER */

#sidebar .user-download,
#sidebar .user-profile {
  text-align: center;
}

#sidebar .user-download > img {
  width: 16px;
  margin: 5px;
  margin-bottom: 0.5rem;
}

#sidebar .user-profile > img {
  width: 25px;
}

#sidebar .user-profile > .profile-color-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(106, 104, 104);
  overflow: hidden;
  padding: 3px;
}

#sidebar .download-text,
#sidebar .profile-text {
  text-align: center;
}
/* # SECTION-MAIN-TOPBAR*/

#topbar {
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4);
}

/* # SECTION-MAIN-PLAYLIST */

#playlist {
  height: calc(100% - var(--topbar-height));
  overflow: auto;
}

/* # FOOTER*/

#player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
}

/* # MEDIA QUERIES-PHONE SM */

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 270px;
  }

  #sidebar .user-download,
  #sidebar .user-profile {
    text-align: left;
  }
  /* # UTILS */

  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-inline {
    display: inline;
  }
}

/* # MEDIA QUERIES-TABLET MD */

@media screen and (min-width: 768px) {
  /* # UTILS */

  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-inline {
    display: inline;
  }
}

/* # MEDIA QUERIES-DESKTOP LG */

@media screen and (min-width: 992px) {
  /* # UTILS */

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-inline {
    display: inline;
  }
}
