/* # CUSTOM PROP */

:root {
  /* # PALETTE */

  --sidebar-bg-color: #000000;
  --player-bg-color: #282828;
  --body-bg-color: #141922;
  --text-primary-color: #ffffff;

  /* # LAYOUT */

  --player-height: 120px;
  --sidebar-width: 80px;
  --topbar-height: 90px;
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
}

/* # UTILS */

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

/* # TOP */

#top {
  height: calc(100% - var(--player-height));
  display: flex;
}

/* # SECTION SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding: 10px 0;
  background-color: var(--sidebar-bg-color);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#sidebar > .playlist-add,
#sidebar > .playlist-list {
  display: none;
}

#sidebar > .user {
  margin-top: auto;
}
/* # SECTION-MAIN */

#content {
  flex-grow: 1;
}
/* # SECTION-MAIN-TOPBAR*/

#topbar {
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4);
}

/* # SECTION-MAIN-PLAYLIST */

#playlist {
  height: calc(100% - var(--topbar-height));
  overflow: auto;
}

/* # FOOTER*/

#player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
}

/* # MEDIA QUERIES-PHONE SM */

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 270px;
  }

  /* # UTILS */

  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-inline {
    display: inline;
  }
}

/* # MEDIA QUERIES-TABLET MD */

@media screen and (min-width: 768px) {
  /* # UTILS */

  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-inline {
    display: inline;
  }
}

/* # MEDIA QUERIES-DESKTOP LG */

@media screen and (min-width: 992px) {
  /* # UTILS */

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-inline {
    display: inline;
  }
}

/* # MEDIA QUERIES-LARGE DESKTOP XL */

@media screen and (min-width: 1200px) {
  /* # UTILS */

  .d-xl-none {
    display: none;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  .d-xl-inline {
    display: inline;
  }
}
